<!-- Footer-->
<footer style="background-color: rgb(65, 62, 62);" class="py-5 ">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    <div style="margin-left: 650px;" class="footer-Links">
        <p  >
            <a style="color: rgb(170, 151, 151);" href="">Blog</a><br>
            <a style="color: rgb(170, 151, 151);" href="">About</a><br>
            <a style="color: rgb(170, 151, 151)" href="">Faq</a><br>
            <a style="color: rgb(170, 151, 151)" href="">Contact</a><br>
        </p>
    </div>

    <div style="margin-left: 750px; margin-top: -90px; color: aliceblue;" class="footer">
        <i class="fa-brands fa-twitter"></i><br>
        <i class="fa-brands fa-facebook"></i><br>
        <i class="fa-brands fa-instagram"></i><br>
    </div>
    




</footer>
